@font-face {
  font-family: 'Bitter bold';
  font-style: normal;
  font-weight: 700;
  src: local('Bitter Bold'), local('Bitter-Bold'), url(https://fonts.gstatic.com/s/bitter/v12/evC1haE-MsorTl_A7_uSGVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/xgzbb53t8j-Mo-vYa23n5ugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Josefin Sans bold';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'), url(https://fonts.gstatic.com/s/josefinsans/v12/C6HYlRF50SGJq1XyXj04z3NuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/HLBysyo0MQBO_7E-DWLwzg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* universal */

html {
  font-size: 20px;
  font-family: 'Poppins', Georgia, Sans-Serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  font-family: 'bitter bold';
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'bitter bold';
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.2rem;
}

/* Header */

.logo span {
  color: #027775;
}

header {
  font-size: 32px;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8c5a4;
}

nav {
  margin-right: 24px;
}

nav a {
  text-decoration: none;
  padding: 0 8px;
  font-size: 24px;
  color: #ffffff;
  background-color: #d8c5a4;
  transition: color 300ms linear, background-color 300ms linear;
}

header img {
  height: 50px;
  width: auto;
}

header .logo, nav {
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

/* Header - MOBILE */

.mobilenav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

/* banner */

.banner {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #1c120d;
  transition: background-color 1s ease-in 200ms;
}

.intro p {
  align-text: center;
}

.banner img {
  width: 60%;
  margin: 32px 24px;
  border: solid 5px #ede6d7;
}

.banner .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 40px;
}

.banner .intro h3 {
  margin: 32px 0;
  color: #d8c5a4;
}

.banner .intro .button {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #027775;
  border: solid 3px #027775;
  border-radius: 3px;
  font-weight: bold;
  color: #ffffff;
}

.banner .intro .button a {
  text-decoration: none;
  color: #ffffff;
}

/* info banner */

.info {
display: flex;
background-color: #d8c5a4;
}

.info .text h2 {
  font-family: 'Bitter bold';
  color: #422d23;
}

.info .text span {
  font-style: italic;
}

.info .testimony {
  width: 60%;
  margin: 32px 24px;
}

.info .testimony img {
  border: solid 5px #422d23;
}

.info .testimony .text {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.info .testimony .text p {
  margin: 24px 0;
}

.info img {
  width: 100%;
  height: auto;
  image-orientation: center;
  overflow: hidden;
}

.info .menu {
  width: 40%;
  border-left: 2px solid #027775;
}

.info .menu p {
  margin: 8px 0;
}

.info .menu a {
  text-decoration: underline;
  color: #ffffff;
}

.info .menuitem {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #027775;
  transition: all 400ms linear;
}

.info .menuitem img {
  width: 35%;
  height: auto;
  margin: 16px;
}

.info .menuitem div {
  width: 65%;
}

/* classes */

.learning {
  background-color: #422d23;
}

.learning h2 {
  color: #179e9b;
}

.learning .menu {
  background-color: #563c2f;
}

.classes {
  padding: 16px 48px;
}

.jumbotron h2 {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

.classes .menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.class {
  display: flex;
  flex-flow: column wrap;
  width: 30%;
  margin: 16px 16px;
  background-color: #e5dcc5;
  transition: all 400ms linear;
}

.class .content {
  padding: 16px;
}

.class img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.class h3 {
  margin-top: 16px;
  font-family: 'Josefin Sans';
  font-size: 1.7rem;
}

.class span {
  display: inline-block;
  margin: 8px 0;
}

.class p {
  margin-bottom: 24px;
}

/* thesis exhibit */

.thesis {
  background-color: #d8c5a4;
}

.thesis h2 {
  color: #027775;
}

.thesis .content {
  display: flex;
}

.thesis .video {
  max-width: 60%;
}

.thesis .video h3 {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Josefin Sans Bold';
  color: #422d23;
}

.thesis .video p {
  margin-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
}

#video {
  margin: 0 24px;
}

.thesis video {
  max-width: 100%;
  overflow: hidden;
}

.thesis .menu {
  width: 40%;
}

.thesis .menu .first {
  border-top: solid 1px #563c2f;
}

.thesis .menuitem {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #563c2f;
  transition: all 400ms linear;
}

.thesis .menuitem .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.thesis img {
  margin: 16px;
  width: 35%;
  height: auto;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #1c120d;
  color: #8c806d;
}

.footer span, .footer .links {
  margin: 16px 24px;
}

.footer .links a {
  margin: 0 8px;
}

/* Hover and Clicking Animations, desktop only */

@media only screen and (min-width: 768px) {
  nav a:hover {
    color: #000000;
    background-color: #ffffff;
  }

  .banner:hover {
    background-color: #422d23;
  }

  .banner .intro .button:hover {
    background-color: #179e9b;
    border: solid 3px #179e9b;
  }

  .banner .intro .button:active {
    background-color: #013d3c;
    border: solid 3px #013d3c;
  }

  .banner .intro .button a:active {
    color: #a0a0a0;
  }

  .info .menuitem:last-child {
    background-color: #a89279;
  }

  .info .menuitem:hover {
    background-color: #027775;
    color: #ffffff;
  }

  .class:hover {
    background-color: #027775;
    color: #ffffff;
  }

  .thesis .menuitem:first-child {
    background-color: #a89279;
  }

  .thesis .menuitem:hover {
    background-color: #027775;
    color: #ffffff;
  }
}

/*hidden phone view elements */

@media only screen and (min-width: 480px) {
  .mobilenav {
    display: none;
  }

  .info .menu .mobile {
    display: none;
  }
}

/* tablet view */

@media only screen and (max-width: 768px) {
  .logo span {
    display: none;
  }

  .banner {
    display: inline-block;
  }

  .banner img {
    margin: 0px;
    border: none;
    width: 100%;
  }

  .banner .intro {
    margin: 32px 16px;
  }

  .button {
    width: auto;
  }

  .info .menu .desktop {
    display: none
  }

  .classes img, .classes span, .classes p {
    display: none;
  }

  .classes {
    padding: 16px;
  }

  .classes .menu {
    display: inline-block;
    width: 100%;
  }

  .classes .menu .class {
    width: auto;
  }

  .classes .menu .class .content {
    padding: 0;
  }

  .classes .menu .class h3 {
    margin: 16px;
    margin-bottom: 24px;
  }

  .thesis .videotext, .thesis .menu {
    display: none;
  }

  .thesis .video {
    max-width: 100%;
  }

  #video {
    margin: 0;
    margin-bottom: 24px;
  }

  .footer .links {
    display: none;
  }
}

/* phone view */

@media only screen and (max-width: 480px) {
  header .logo, nav {
    margin: 0;
  }

  nav, .logo img, .logo {
    display: none;
  }

  .logo {
    margin: 0;
    padding: 0;
  }

  .testimony {
    display: none;
  }

  .info .menu img {
    width: 100%;
    height: auto;
    margin: none;
  }

  .info .menu .desktop {
    display: none;
  }

  .info .menu .mobile {
    margin: 0;
  }

  .info .menu {
    width: 100%;
  }

  .info .menu .menuitem {
    display: inline-block;
    margin: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: auto;
    border: none;
  }

  .info .menuitem .text {
    width: 100%;
  }

  .info .menu .orientation {
    margin-top: 16px;
  }

  .info .menuitem:last-child {
    background-color: initial;
  }
}
